---
import Wrapper from "@/layouts/Wrapper.astro";
import type { HTMLTag } from "@modules/astro/types";
import SilvanaPhoto from "@/assets/images/silvana.avif";
import { Icon } from "astro-icon/components";

import { Image } from "astro:assets";

type Props = {
  tag?: HTMLTag;
};

const { tag: Tag = "h1" }: Props = Astro.props;
---

<Wrapper as="section" class="section grid lg:grid-cols-2 gap-12 lg:gap-6">
  <div class="grid order-2 lg:order-1">
    <figure
      data-animation-scale
      class="overflow-hidden grid max-w-[347px] mx-auto h-[490px] rounded-[173px]"
    >
      <Image
        class="w-full aspect-square h-full object-cover"
        src={SilvanaPhoto}
        alt="Silvana"
      />
    </figure>
  </div>
  <article
    data-animation-right
    class="grid gap-8 w-full order-1 lg:order-2 max-w-[545px] text-center lg:text-start mx-auto my-auto"
  >
    <Tag class="block heading-01">
      Coach<br />
      <span class="relative">
        Psicóloga
        <Icon
          name="selecto-purple"
          class="absolute w-[200px] md:w-[337px] left-0 top-7 md:top-10 z-[-1]"
        />
      </span>
      <br />
      Mentora
    </Tag>
    <p class="text-gray-500 text-base md:text-lg !leading-7">
      Especialista en orientación vocacional, coaching y desarrollo humano.
      Combino psicología y metodologías ágiles para ayudarte a superar bloqueos,
      mejorar dinámicas laborales y alcanzar metas. ¡Transforma tu carrera y
      alcanza tu máximo potencial!
    </p>
    <div
      class="flex justify-center lg:justify-start flex-col md:flex-row gap-4"
    >
      <a href="/" class="btn btn-primary btn-lg no-animation">
        Quiero saber más
      </a>
    </div>
  </article>
</Wrapper>
