---
import Wrapper from "@/layouts/Wrapper.astro";
import type { HTMLTag } from "@modules/astro/types";
import SilvanaPhoto from "@/assets/images/silvana.avif";
import { Icon } from "astro-icon/components";

import { Image } from "astro:assets";

type Props = {
  tag?: HTMLTag;
};

const { tag: Tag = "h1" }: Props = Astro.props;
---

<Wrapper as="section" class="section grid lg:grid-cols-2 gap-12 lg:gap-6">
  <article
    data-animation-left
    class="grid gap-8 w-full max-w-[545px] text-center lg:text-start mx-auto my-auto"
  >
    <Tag class="block">
      <span class="heading-01">Impulsa tu potencial: </span>
      <br />
      <span class="font-rouge-script text-primary text-3xl md:text-5xl"
        >coaching y formación a tu alcance
      </span>
    </Tag>
    <p class="text-gray-500 text-base md:text-lg !leading-7">
      Empieza a transformar tu vida profesional y personal con las herramientas
      y la guía que necesitas para alcanzar tu máximo potencial
    </p>
    <div
      class="flex justify-center lg:justify-start flex-col md:flex-row gap-4"
    >
      <a href="/" class="btn btn-primary btn-lg no-animation">
        Descubre contenidos gratuitos
      </a>
      <a href="/" class="btn btn-outline btn-lg no-animation">
        Cursos exclusivos
      </a>
    </div>
  </article>
  <div class="grid relative">
    <figure
      data-animation-scale
      class="relative grid max-w-[347px] mx-auto h-[490px]"
    >
      <Icon
        name="pattern-circle"
        class="absolute w-[120px] h-[130px] -left-12 -top-8"
        data-animation-rotate-from-left
      />
      <Image
        class="w-full aspect-square h-full object-cover rounded-[173px]"
        src={SilvanaPhoto}
        alt="Silvana"
      />
      <Icon
        name="pattern-dots"
        class="absolute w-[138px] h-[90px] -right-12 -bottom-8"
        data-animation-rotate-from-right
      />
    </figure>
  </div>
</Wrapper>
