---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import Wrapper from "@/layouts/Wrapper.astro";
---

<DefaultLayout title="home" description="home">
  <Wrapper> <h1 class="text-3xl">asd</h1></Wrapper>
</DefaultLayout>
