---
import { navigationLinks } from "@/lib/consts";

import Logo from "@/assets/images/silvana-logo.avif";
import { Image } from "astro:assets";
import Wrapper from "@/layouts/Wrapper.astro";
---

<Wrapper as="header" class="bg-base-100 flex w-full py-2">
  <nav class="mx-auto w-full" aria-label="Global">
    <div
      class="relative lg:grid grid-cols-1 lg:grid-cols-[0.2fr_1fr_0.2fr] lg:items-center"
    >
      <div class="flex items-center justify-between">
        <a
          href="/"
          aria-label="Inicio"
          class="flex items-center w-[166px] space-x-3 rtl:space-x-reverse"
        >
          <Image src={Logo} class="" alt="Flowbite Logo" />
        </a>
        <div class="lg:hidden">
          <button
            type="button"
            class="collapse-toggle btn btn-secondary btn-outline btn-md btn-circle"
            data-collapse="#navbar-mega-menu-click"
            aria-controls="navbar-mega-menu-click"
            aria-label="Abrir menú de navigación"
          >
            <span class="icon-[tabler--menu-2] collapse-open:hidden size-6"
            ></span>
            <span class="icon-[tabler--x] collapse-open:block hidden size-6"
            ></span>
          </button>
        </div>
      </div>
      <div
        id="navbar-mega-menu-click"
        class="collapse hidden grow basis-full overflow-hidden rounded-lg transition-all duration-300 lg:block"
      >
        <div
          class="flex flex-col justify-center bg-base-200/20 lg:bg-transparent backdrop-blur-lg rounded-lg max-lg:mt-3 max-lg:border max-lg:p-2 lg:flex-row lg:items-center lg:justify-end gap-2"
        >
          <ul
            class="menu lg:menu-horizontal w-full lg:w-fit lg:mx-auto text-base px-0 max-lg:py-0 gap-2"
          >
            {
              navigationLinks &&
                navigationLinks.length > 0 &&
                navigationLinks.map((link) => (
                  <li>
                    <a
                      href={link.href}
                      class="btn btn-text text-base-content/70 no-animation w-full lg:w-fit justify-start lg:justify-center"
                      aria-current="page"
                    >
                      {link.label}
                    </a>
                  </li>
                ))
            }
            <li>
              <a
                href="/"
                aria-label="Empieza hoy"
                class="btn btn-primary lg:hidden no-animation"
              >
                Empieza hoy
              </a>
            </li>
          </ul>
        </div>
      </div>
      <a
        href="/"
        aria-label="Empieza hoy"
        class="hidden lg:flex btn-primary w-fit ml-auto btn no-animation"
      >
        Empieza hoy
      </a>
    </div>
  </nav>
</Wrapper>
